<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.lzpdark.indexdoc.mapper.ResourceTaskMapper">

    <resultMap id="resourceTask" type="com.github.lzpdark.indexdoc.entity.ResourceTask">
        <result column="id" property="id"/>
        <result column="task_state" property="taskState"/>
        <result column="url" property="url"/>
        <result column="language" property="language"/>
    </resultMap>

    <insert id="addResourceTask">
        insert into resource_task (id, task_state, url, language) values (#{id}, #{taskState}, #{url}, #{language})
    </insert>
    <delete id="deleteById">
        delete from resource_task where id = #{id}
    </delete>
    <select id="listResources" resultMap="resourceTask">
        select * from resource_task order by id desc limit 40
    </select>
</mapper>

